git+https://github.com/datastax/python-driver.git@cassandra-test
git+https://github.com/pcmanus/ccm.git
cql
decorator
docopt
enum34
flaky
futures
mock
nose
nose-test-select
parse
psutil
pycassa
six
thrift
