# See python driver docs: futures and six have to be installed before
# cythonizing the driver, perhaps only on old pips.
# http://datastax.github.io/python-driver/installation.html#cython-based-extensions
futures
six
-e git+https://github.com/datastax/python-driver.git@cassandra-test#egg=cassandra-driver

ccm==2.4.2
cql
decorator
docopt
enum34
flaky
mock
nose
nose-test-select
parse
pep8
psutil
pycassa
thrift
